body {
    font-family: roboto;
    font-size: 32px;
    width: 435px;
    margin-left:auto;
    margin-right:auto;
}
button {
    height: 100px;
    width: 75px;
    margin: 0px;
    padding: 0px;
    font-size: 32px;
}
.display {
    background-color: gray;
    color: black;
}
#display-container {
    height: 100px;
    border: 4px solid black;
}
#container{
    border: 4px solid black;
    border-top: 0px;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 120px;
    justify-content: space-around;
    align-items: center;
}
#equal {
    width: 160px;
}
.highlight {
    transform: scale(1.1);
}